.cards-section {
    width: 100%;
    background-color: #ecf0f1;
}

.cards-section .my-card-container {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #fff;
}

.cards-section .more-item {
    background-color: #ffffff;
    padding: 25px 0 35px 0;
}

.cards-section .more-item button {
    margin: 0 auto;
    display: table;
    background-color: #10ac84;
    color: #ffffff;
    border: none;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    font-size: 16px;
}

/* ===================================
cards
================================== */
.cards-section .my-cards {
    width: 219px;
    height: 340px;
    background-color: #ffffff;
    margin: 5px 0px 5px 3px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
}

.cards-section .my-cards p {
    text-align: end;
    padding: 5px 5px 0 0;
    font-size: 14px;
    color: #dc3545!important;
}

.cards-section .my-cards img {
    margin: 0 auto;
    display: table;
    width: 140px;
    height: 140px;
}

.my-cards h6.desc {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 10px 0px 10px;
    height: 40px;
}

.off-and-price {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px 0 10px;
}
.off-and-price h5{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: #dc3545!important;
}
.money-and-show-discount h5 {
    margin-bottom: 0;
}
.money-and-show-discount span {
    font-size: 12px;
    text-align: end;
    display: block;
    padding-right: 2px;
}
.dealBy {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 10px;
    border-top: 1px solid #c5c5c5;
    margin-top: 12px;
    padding-top: 4px;
}


.dealBy h6 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 8px;
}

.dealBy button {
    font-size: 12px;
    color: #ffffff;
    background: #222f3e;
    border: none;
    padding: 6px;
    border-radius: 5px;
    margin-right: 3px;
    margin-top: 2px;
}
.my-cards p span svg {
    font-size: 16px;
    margin-top: -2px;
}
.cards-section .my-cards {
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
@media screen and (max-width:1024px){
.search-for-item .searchbar {
    padding: 5px 0px 5px 7px;
}
.header-container h1.logo a {
    font-size: 28px;
    padding: 5px 0px 5px 0px;
}
}
@media screen and (min-width:356px){
.cards-section .my-cards {
    width: 175px;
    height: 342px;
}
}
@media screen and (max-width:480px){
    .cards-section .my-cards img {
        width: 80px;
        height: 80px;
    }
    .cards-section .my-cards {
        width: 130px;
        height: 281px;
    }
    .my-cards h6.desc {
        font-size: 10px;
        padding-bottom: 60px;
    } 
    .off-and-price h5 {
        font-size: 12px;
    }  
    .cards-section .my-cards p {
        font-size: 10px;
    }
    .dealBy button {
        font-size: 10px;
        padding: 5px 8px;
        margin-right: 0px;
    }
    .off-and-price {
        padding: 10px 5px 0 5px;
    }
    }

@media screen and (max-width:320px){
    .header-container h1.logo a {
        font-size: 22px;
    }
}

@media screen and (max-width:299px){
    .cards-section .my-cards {
        width: 80%;
        height: 351px;
    }
    .cards-section .my-cards img {
        width: 150px;
        height: 150px;
    }
    .my-cards h6.desc {
        font-size: 12px;
    }
}
