.footer-container{
    width: 100%;
    height: 85vh;
    border-top: 2px solid black;
}
.footer-link-part{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
}
.footer-container .footer-link-part .all-items-link .items{
    display: flex;
}
.footer-container .footer-link-part .all-items-link .items a:first-child{
    margin-right: 38px;
    width: 60px;
}
.footer-container .oursite-policy ul li{
    list-style: none;
}
.footer-container .oursite-policy ul li:first-child a{
    font-size: 16px;
}
.footer-container .oursite-policy ul li a{
    background-color: #576574;
    color: #d1d1d1;
    padding: 10px 15px 10px 10px;
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
}
.footer-container .address{
    display: flex;
    align-items: center;
}
.footer-container .address span{
    margin-right: 25px;
    font-size: 20px;
}
.footer-container .address p{
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
}
.footer-container .disclosure {
    width: 80%;
    margin: 0 auto;
}
.disclosure h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 35px 0 20px 0;
}
.disclosure p.terms-privac {
    margin-bottom: 0;
    font-size: 16px;
    padding-bottom: 20px;
}

.disclosure a{
    color: #48dbfb!important;
}
.disclosure span{
    display: block;
    text-align: center;
    padding-top: 10px;
}
.disclosure h6{
    text-align: center;
    font-weight: 400;
    padding-bottom: 40px;
    padding-top: 5px;
}
.footer-container .footer-link-part .oursite-policy ul li:hover a{
    background: #222f3e!important;
    color: #ffffff;
    transition: 0.3s all;
}
@media screen and (max-width:768px) {
    .footer-link-part{
      flex-wrap: wrap;
      justify-content: center;
    }
    .footer-link-part h2 {
        font-size: 20px;
    }
    .footer-container .footer-link-part .all-items-link .items a{
        font-size: 14px;
    }
    .footer-container .disclosure h5 {
        font-size: 14px;
    }
    .footer-container .address-section {
        margin-left: 27px;
    }
    .footer-container .items-combine a{
        font-size: 14px;
    }
    .footer-container .disclosure p.terms-privacy {
        font-size: 14px;
    }
    .footer-container .disclosure h6 {
        font-size: 14px;
    }
}
@media screen and (max-width:626px) {
    .footer-container .oursite-policy {
        margin-left: 15px;
    }
    .footer-container .address-section {
        margin-top: 14px;
    }
}
@media screen and (max-width:465px) {
    .footer-link-part .oursite-policy ul {
        padding-left: 0px;
    }
    .footer-container .oursite-policy {
        margin-top: 20px;
    }
    .footer-container .address-section {
        margin-top: 25px;
    }
}
