.header-container nav {
    padding: 7px 40px 7px 65px;
    background-color: #34495e !important;
}

.header-container h1.logo a{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: #ffffff;
}

.header-container h1.logo a:hover {
    /* background-color: #2c3e50; */
    background-color: #000000;
    border-radius: 5px;
    padding-bottom: 10px;
}

.header-container ul li a:hover {
    /* background-color: #2c3e50; */
    background-color: #000000;
    border-radius: 5px;
}

.search-for-item .searchbar {
    padding: 5px 15px 5px 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 5px;
}
.search-for-item{
    position: relative;
}
.search-for-item .search-icon{
    position: absolute;
    right: 15px;
    top: 10px;
}
.dropdown-toggle::after {
    margin-left: 7px !important;
}
.header-container a.dropdown-item:hover {
    color: #ffffff!important;
    border-radius: 30px!important;
}
.search {
    width: 100%;
}
.search-for-item .searchbar {
    width: 100%;
}

@media screen and (max-width: 1024px) {
.search-for-item .searchbar {
    padding: 5px 10px 5px 7px;
}

}
@media screen and (max-width: 992px) {
    .header-container nav {
        padding: 7px 10px 7px 15px;
        flex-direction: row-reverse !important;
    }
    .header-container h1.logo {
        font-size: 28px;
    }    
}

@media screen and ((min-width: 992px) and (max-width:1199px)) {
    .header-container nav {
        padding: 12px 10px 12px 17px;
    }

    .header-container h1.logo {
        font-size: 24px;
    }
}
@media screen and (max-width: 576px) {
.header-container h1.logo {
    font-size: 24px;
}
}