.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 999999;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}