@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.singleproduct-container {
    background-color: #fff;
}
.singleproduct-container .single-pro-wrapper {
    display: flex;
}

.singleproduct-container .single-pro-wrapper .img-part img {
    width: 400px !important;
    margin-left: 100px;
    border-left: 4px solid #34495e;
    border-bottom: 2px solid #34495e;
    padding: 80px 120px 60px 110px;
}

.single-pro-wrapper .desc-part {
    padding: 20px 15px 10px 10px;
}

.single-pro-wrapper .desc-part h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.single-pro-wrapper .desc-part .price-section{
    display: flex;
    border-top: 1px solid #d1d1d1;
}
.single-pro-wrapper .desc-part .price-section p{
    padding-right: 20px;
}
.single-pro-wrapper .desc-part .price-section span{
    font-weight: 700;
    font-size: 16px;
}
.single-pro-wrapper .desc-part .price-section .mrp{
    font-size: 12px;
}
.single-pro-wrapper .desc-part .price-section .mrp s{
    font-size: 16px;
}
.single-pro-wrapper .desc-part .price-section h5 {
    color: #dc3545!important;
    font-weight: 700;
}
.singleproduct-container .get-deal-btn{
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background: #222f3e;
    color: #fff;
    padding: 8px 15px 8px 15px;
}
.singleproduct-container .img-part h6{
    font-weight: 700;
    font-size: 16px;
    color: gray;
    text-align: center;

}
.singleproduct-container .img-part h6 span{
    font-weight: 500;
    color: #2f3542;
    padding-left: 5px;
}
.singleproduct-container .get-deal-desc {
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.singleproduct-container .get-deal-desc h1 {
    font-size: 26px;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.singleproduct-container .get-deal-desc ul {
    padding-left: 42px;
}
.singleproduct-container .get-deal-desc button{
    border: none;
    color: red;
    font-weight: 700;
    background-color: transparent;
}
.singleproduct-container .form-submit-btn{
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background: #222f3e;
    color: #fff;
    padding: 8px 15px 8px 15px;
}
.singleproduct-container form {
    margin: 0 100px 40px 100px;
}

@media screen and (max-width:992px) {
    .singleproduct-container .single-pro-wrapper .img-part img {
        margin-left: 50px;
}
}
@media screen and (min-width:992px)and (max-width:768px) {
.singleproduct-container .single-pro-wrapper .img-part img {
    width: 350px !important;
    padding: 80px 70px 60px 70px;
}
}
@media screen and (max-width:767px) {
    .singleproduct-container .single-pro-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .singleproduct-container .img-part h6 {
        text-align: center!important;
        padding-left: 0!important;
    }
    }

    @media screen and (max-width:576px) {
        .singleproduct-container .single-pro-wrapper {
            margin-top: 10px;
        }
        .singleproduct-container .single-pro-wrapper .img-part img {
            margin-left: 0px;
        }
        .singleproduct-container .single-pro-wrapper .img-part img {
            width: 250px !important;
            padding: 50px;
        }
        .single-pro-wrapper .desc-part {
            padding: 20px 40px 10px 40px;
        }
        .single-pro-wrapper .desc-part h4 {
            font-size: 14px;
        }
        .singleproduct-container .get-deal-desc {
            padding-left: 40px;
        }
        .singleproduct-container .get-deal-desc h1 {
            font-size: 18px;
        }
        .get-deal-desc ul li {
            font-size: 12px;
        }
        .singleproduct-container form {
            margin: 0 40px 40px 40px;
        }
    }